[Unit]
Description=Attosys isolated snapshot maintenance
DefaultDependencies=no
Requires=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service
AllowIsolate=yes
